trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: |
    composer require --ignore-platform-req=ext-mongodb
    composer install --no-interaction --prefer-dist --optimize-autoloader
  displayName: 'Install Dependencies'

- script: |
    composer run-script cs-check
  displayName: 'Check Coding Standards'

- script: |
    composer run-script tests
  displayName: 'Run Tests'

- script: |
    docker build -t gambleats_user_service:latest .
  displayName: 'Build Docker Image'

- task: Docker@2
  displayName: 'Push Docker Image'
  inputs:
    command: push
    containerRegistry: 'gambleatscr'
    repository: 'user_service'
    tags: 'latest'
