trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: |
    composer install --no-interaction --prefer-dist --optimize-autoloader --ignore-platform-req=ext-mongodb
  displayName: 'Install Dependencies'

# - script: |
#     composer run-script cs-check
#   displayName: 'Check Coding Standards'

# - script: |
#     composer run-script tests
#   displayName: 'Run Tests'

# - task: DockerCompose@0
#   inputs:
#     containerregistrytype: 'Azure Container Registry'
#     azureSubscription: 'gambleatsrm'
#     azureContainerRegistry: '{"loginServer":"gambleats.azurecr.io", "id" : "/subscriptions/c78e83f2-1316-4da7-9320-4db2dc98cfb1/resourceGroups/GamblEats/providers/Microsoft.ContainerRegistry/registries/gambleats"}'
#     dockerComposeFile: '**'

- task: Docker@2
  inputs:
    containerRegistry: 'gambleatscr'
    repository: 'userService_containerRepo'
    command: 'buildAndPush'
    Dockerfile: '**/docker-compose.yml'
    tags: |
      $(Build.BuildId)
      latest'
  displayName: 'Run a Docker Compose command'